---
Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  -clang-analyzer-cplusplus.NewDeleteLeaks,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  modernize-*,
  -modernize-use-trailing-return-type,
  performance-*,
  readability-*,
  -readability-magic-numbers,
  -readability-named-parameter,
  -readability-identifier-length
WarningsAsErrors: ''
HeaderFilterRegex: 'include/attractor/.*'
CheckOptions: []
